DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DB
JWT_SECRET=supersecret

SUPERADMIN_USERNAME=admin
SUPERADMIN_PASSWORD=secret

B2_ENDPOINT=https://s3.us-east-005.backblazeb2.com
B2_REGION=us-east-005
B2_ACCESS_KEY_ID=xxx
B2_SECRET_ACCESS_KEY=xxx
B2_BUCKET_NAME=tubebox

CDN_BASE_URL=https://cdn.yourdomain.com