DATABASE_URL="postgresql://postgres:WUpyXAXMVCLHPzkzdcUMmrRKxZeFcFYw@kodama.proxy.rlwy.net:41056/railway"
JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNzc3MzczNjk2fQ.6ie7MU3v5Luvm6P-bYfF3Exj7hRHkcQBr1b3mj4Tna8"
B2_ENDPOINT="https://s3.us-east-005.backblazeb2.com"
B2_BUCKET_NAME="disklyserver"
B2_REGION="us-east-005"
B2_ACCESS_KEY_ID="0057aea25abc8b30000000001"
B2_SECRET_ACCESS_KEY="K005ZEvkKSPD8I308teKV6Lcv/T0Yvs"
CLOUDFLARE_DOMAIN="cdn.diskly.in"
TELEGRAM_BOT_TOKEN="8667416329:AAGxuFjwQ4zVFq5Ez9DOYd-_5c3XdXdoTbc"
SUPERADMIN_USERNAME="admin"
SUPERADMIN_PASSWORD="secret"