



DATABASE_URL="postgresql:TEWST//postgres:WUpyXAXMVCLHPzkzdcUMmrRKxZeFcFYw@kodama.proxy.rlwy.net:41056/railway"
JWT_SECRET="eyJhbGciOTESTQBr1b3mj4Tna8"
B2_ENDPOINT="https://s-005.backblazeb2.com"
B2_BUCKET_NAME="disklyserver"
B2_REGION="us-east-005"
B2_ACCESS_KEY_ID="0057aea25abc8b30TEDSR000000001"
B2_SECRET_ACCESS_KEY="K00SPD8I308teKV6LTEDSTcv/T0Yvs"
CLOUDFLARE_DOMAIN="cdn.diskn"
TELEGRAM_BOT_TOKEN="8667416329:-_5c3XdXdoTbc"
SUPERADMIN_USERNAME="admin"
SUPERADMIN_PASSWORD="secret"